[2013-07-29 19:40] mattben opened #1 "usage"
please fix usage-bar and usage-pie
Under Build -> Usage -> bar && pie

[2013-07-29 19:50] mattben opened #2 "askbot"
Please set up a askbot with all account login options. Its url will be:

[code]

[2013-07-29 19:51] mattben opened #3 "mailing list"
change contact page under help to be like the esgf-site mailing-list page

[2013-07-29 20:04] mattben opened #4 "tutorials"
We can remove the tutorials page, and have it link to the uvcdat youtube page:

[http://www.youtube.com/channel/UCi08s8xII45WKWrfl96eMWA](http://www.youtube.com/channel/UCi08s8xII45WKWrfl96eMWA)

[2013-07-30 17:54] #3 closed, assigned to nobody

[2013-07-30 18:12] #4 closed, assigned to nobody

[2013-08-15 15:12] mattben opened #5 "sponsor images"
![screen shot 2013-08-15 at 8 11 01 am](https://f.cloud.github.com/assets/438922/969414/fe01a96e-05bc-11e3-9586-80f80aac8f98.png)

sponsor images are being weird in safari.

[2013-08-21 17:03] glacials opened #6 "Presentation PDF links are broken"
publications.html links to PDFs are all broken.

[2013-09-13 15:35] #6 closed, assigned to nobody

[2013-09-13 15:36] #2 closed, assigned to nobody

[2013-09-13 15:37] #1 closed, assigned to nobody

[2013-09-13 15:38] mattben opened #7 "graphs"
graph pages need to be standardized

Title
Description
Graph
Total count
back button
JSON URL

[2014-03-25 23:49] hardy21 opened #8 "Error when deleting a plot using the 'Configure' tool (pencil)"
This error appears when I try to delete one of the two plots I have in a cell.

![error when trying to delete plot in one cell](https://f.cloud.github.com/assets/6147735/2519684/4adc2444-b477-11e3-81bb-38d434b957b0.png)

[2014-03-25 23:51] hardy21 opened #9 "Images disappear when resizing the window (v.1.5.0 / OS X 10.9.2)"
I tried maximizing the window and I got this problem. Then I tried to reduce the size but the images never came back.

![images dissapear when resizing](https://f.cloud.github.com/assets/6147735/2519723/193232f2-b478-11e3-9b10-a8e92627bdce.png)

[2014-03-25 23:57] hardy21 opened #10 "Plot does not appear in cell's Properties window (v.1.5.0 / OS X 10.9.2)"
![plot does not appear in properties window](https://f.cloud.github.com/assets/6147735/2519771/253d9b12-b479-11e3-8f68-cb2cad5947ad.png)

[2014-03-26 00:02] hardy21 opened #11 "Labels are not readable (v.1.5.0 / OS X 10.9.2)"
When using the arrow tool (>) to go to the 'Next Dimension', the labels start to conglomerate one on top of the previous one making them difficult to read.

![text not readable when moving to next dimension](https://f.cloud.github.com/assets/6147735/2519785/648e598c-b479-11e3-9744-7aa65fde590a.png)

[2014-03-26 00:15] #10 closed, assigned to doutriaux1

[2014-03-26 00:16] #11 closed, assigned to doutriaux1

[2014-03-26 00:17] #9 closed, assigned to doutriaux1

[2014-03-26 00:22] #8 closed, assigned to doutriaux1

[2014-10-14 11:48] jypeter opened #12 "Problem(s) with the CDAT gallery"
Wow, nice gallery! :-) It's a nice and much needed addition to the web site, **BUT**:

Is there a problem with the uvcdat.llnl.gov server (or virtual machine), or the gallery.php script? Because unfortunately, the gallery is painfully slow to display

a) I tried from home yesterday and it was very slow

b) I have tried again from work and it was a bit faster, but still slow if you scroll to the bo

[2014-10-14 14:34] #12 closed, assigned to nobody

[2014-10-30 15:20] jypeter opened #13 "Merge duplicate "Documentation" and "User Guides => Manuals""
Do we need to have both a _Documentation_ pull down menu and _User Guides => Manuals_ pull down menu, if they point to the same information. Maybe this could be merged

[2014-10-30 15:25] jypeter opened #14 "The mailing list page has a reference to the dead askbot..."
On http://uvcdat.llnl.gov/mailing-list.html

Support Forum is a link to the defunct http://askbot-uvcdat.llnl.gov/
- Change this?
- Resurrect the askbot?

[2014-10-30 15:49] jypeter opened #15 "Accessing and searching the archives of uvcdat-support ?"
Till there is a working askbot or some uvcdat stuff on stackoverflow as it is the case for cartopy
(http://stackoverflow.com/search?q=cartopy), is there a way to search the archives of the uvcdat-support list, or to access the archives?

I have sent a mail to majordomo@lists.llnl.gov with _index uvcdat-support_ and all I got was **No files available for uvcdat-support**

Any information about this

[2014-10-30 15:57] jypeter opened #16 "Updating and putting online the old cdms and vcs cheat sheets?"
I think that it would be useful to update and distribute the following old documents (and keep them in a pdf format that can be easily printed)
- vcs_quick_start.pdf
- vcs_quick_ref.pdf
- cdms_quick_start.pdf

[2014-10-30 16:03] jypeter opened #17 "Remove references to Numeric, MV and MA"
When you search the site, there are still a few (not too many) references to _Numeric_, _MV_ and _MA_

It would be nice to clean these and hunt down possible references to other outdated modules

Searching for _typecode_ also returns 2 pages. It should be replaced with the _dtype_ numpy equivalent

@doutriaux1 old **bin/convertcdms.py** script can probably be used to get a list of all the old Nume

[2014-10-30 16:17] jypeter opened #18 "The cdms documentation is for cdms and not cdms2 !"
http://uvcdat.llnl.gov/documentation/cdms/cdms.html

Would it be possible to update all the **cdms** references  to _cdms2_?

Or at least add an easily noticed red warning banner at the top of each page of the cdms documentation? e.g. _This document is for the cdms module that has been renamed cdms2 when we started using numpy in CDAT. Please change all the references to cdms below to cdms2_

[2014-11-07 17:33] #13 closed, assigned to nobody

[2014-11-07 18:17] #14 closed, assigned to chaosphere2112

[2014-11-20 19:02] chaosphere2112 opened #23 "VCS Fillarea doesn't support index currently"
Looks like VCS doesn't currently support the index attribute for fill areas, as discussed [here](https://github.com/UV-CDAT/uvcdat/issues/541). Need to remove the index attribute from the documentation, and add it back in with explanation of patterns that it provides for once that bug is fixed.

[2014-11-20 19:03] chaosphere2112 opened #24 "VCS text spacing and text expansion are unsupported"
Remove the spacing and expansion attributes from the VCS documentation (vcs-7.html), as they're going to be deprecated in future versions and do nothing right now.

[2015-01-05 11:00] jypeter opened #31 "Broken CDAT links on main PCMDI Software Portal page"
Hi guys,

Happy new year, with lots of UV-CDAT breakthroughs! :)

I was looking for CMOR related information, and I discovered that CDAT is still mentioned at the top of the software portal (as it should be). Unfortunately, all the links are broken, so you may want to add a link to the correct UV-CDAT page

http://www2-pcmdi.llnl.gov/

The 'navigation' links on the left are still good, with potent

[2015-01-05 13:21] jypeter opened #32 "Things to do about the cdat-discussion list ?"
I have just re-discovered that, contrary to _uvcdat-support_, the content of **cdat-discussion** has correctly been archived and is still accessible

http://sourceforge.net/p/cdat/mailman/cdat-discussion/

Maybe somebody should do the following about cdat-discussion (when possible):
- Make sure that nobody else can subscribe to the list, since it is discontinued
- Send a last mail to the list remi

[2015-02-23 16:50] jypeter opened #43 "The vcs documentation lists deprecated functions and misses new ones"
It would be nice to update http://uvcdat.llnl.gov/documentation/vcs/vcs-11.html#pgfId-912045
- remove deprecated functions like https://github.com/UV-CDAT/uvcdat/issues/1065
- add new _slightly_ useful ones like x.interact(), x.setbgoutputdimensions() and probably others

Good luck @chaosphere2112  and @mattben !

[2015-02-23 17:01] jypeter opened #44 "Add a page or tutorial dedicated to generating vcs output"
I have spent some time rediscovering that you have to use _setbgoutputdimensions_ in order to get a bigger png file, and that I had already asked the question in https://github.com/UV-CDAT/uvcdat/issues/470! :-(

I think it would be **very useful** to have a specific page/tutorial describing the different canvas output formats, how to generate high resolution output, and how to use successfully th

[2015-02-23 17:03] chaosphere2112 commented on #43
Yeah, that's definitely a good idea. I'll take a pass through that page and remove everything that is deprecated, and I'll definitely add `interact()` and `setbgoutputdimensions()`

[2015-02-23 17:05] chaosphere2112 commented on #44
I agree; I think a page on formatting your output in general would probably be very useful (template attributes, `priority`, generating images, etc.). I'll try and book some time to do that soon.

[2015-02-23 18:23] mccoy20 commented on #44
Hi Sam,

It might be nice to also add plot layout tips from some old tips for the cdat, I once wrote, see here

http://www2-pcmdi.llnl.gov/Newsletter/Vol2/techTips.html
http://www2-pcmdi.llnl.gov/Newsletter/Vol2/images/template_asd3.jpg

Here are some other tech tips from newsletters
http://www2-pcmdi.llnl.gov/Newsletter/Vol5/archive.html

Greetings,
Renata

From: Sam Fries <notifications@github.c

[2015-02-23 18:24] chaosphere2112 commented on #44
Awesome! Thanks Renata! I'll make sure to get this content integrated.

-Sam

From: mccoy20 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat-site <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, February 23, 2015 10:23 AM
To: UV-CDAT/uvcdat-site <uvcdat-site@noreply.github.com<mailto:uvcdat-site@noreply.github.com>>
Cc: "Fries, Samuel B." <f

[2015-02-24 14:01] jypeter commented on #44
Indeed, there were some good tips in the old newsletters, as I mentionned in https://github.com/UV-CDAT/uvcdat-site/issues/31 :)

There is a lot to explain about the output, and it's not very easy. I have never mastered everything
* the **available output formats**, and do we have a truly clean vector output format now? Last time I checked (years ago, I admit), the vector isofills were just zones

[2015-03-10 13:14] durack1 opened #46 "UV-CDAT docs website: cdms/cdtime manual page problem"
@mattben @chaosphere2112

It seems that the time constructor section of http://uvcdat.llnl.gov/documentation/cdms/cdms_3.html needs a tweak or two..

Migrated from https://github.com/UV-CDAT/uvcdat/issues/1136

[2015-03-30 15:18] jypeter opened #47 "DV3D Camera parameters"
@chaosphere2112 and @ThomasMaxwell

I'm not familiar with camera positioning coordinates. Could you give some explanations in Chapter 12 about the Position/ViewUp/FocalPoint parameters? Maybe these are standard parameters and there is already a wiki or some page that could be linked to

[2015-03-30 15:23] jypeter opened #48 "Printing DV3D parameters, and other shortcuts"
- I think @ThomasMaxwell mentioned during the F2F that there was a keyboard shortcut to print the current parameters (Camera position? Others?) to the shell. What is it?
-  Could @chaosphere2112 list all the available DV3D shortcuts and mouse/keyboard combinations in Chapter 12? That could go to a dedicated section ("Interacting with the 3D plot window"?). I think I have just found _Left-click in

[2015-03-30 15:41] ThomasMaxwell commented on #48
Pressing the ‘p’ key when the plot has focus prints all the parameters to the shell.  These key press shortcuts are not documented because they are intended for developers and testers.

From: Jean-Yves Peterschmitt <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat-site <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 30, 2015 at 11:23 A

[2015-03-30 15:56] ThomasMaxwell commented on #47
These terms are in accordance with standard usage.   Position denotes the position of the camera.  FocalPoint is a remote position that determines the direction that the camera is pointing.  ViewUp is a vector that denotes the “Up” direction of the camera.

— Tom

From: Jean-Yves Peterschmitt <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat-site <reply@reply.git

[2015-03-30 15:58] jypeter commented on #48
On the contrary, I think this is very useful if you want to play around interactively, and then create a script that will put you directly in the state you want! Especially if you don't know how the camera parameters (#47)  work...

Do you also have a key that will reset the parameters to a default state? Right now, if I move too many things around and I want to go back to an initial clean state,

[2015-03-30 16:33] ThomasMaxwell commented on #48
The “save script” button in the uvcdat gui does what you are asking.   To make this feature available from a script we would need to add this functionality to the vcs api.  However, for testers, if you press the ’t’ key a ctest definition capturing the current state is written to stdout.   This can be run as a script.

From: Jean-Yves Peterschmitt <notifications@github.com<mailto:notifications@git

[2015-03-31 09:20] jypeter commented on #47
Well, I have tried to some more information on google in even dug up my old computer graphics text book (Computer Graphics by Foley, van Dam et al), but I have not been able to find a nice plot that would give me a quick grasp of these parameters. It would be nice if there was such a thing.

@aashish24 , is there some 3D positioningfor dummies plot  on the VTK site?

Meanwhile, I will just move my

[2015-04-01 18:52] chaosphere2112 commented on #47
@jypeter I've written a small script that you can use to figure out how the camera parameters work; unfortunately, it's dependent on a PR that I've just submitted. The PR is UV-CDAT/uvcdat#1184 , if you want to try using it with the script:

[code]

[2015-04-02 10:03] jypeter opened #49 "Use links in the documentation to go to specific tables and pages"
If you go to http://uvcdat.llnl.gov/documentation/cdms/cdms_2.html#table_2.2 and search for _createVariable_, you get **This function is documented in Table 2.34 on page 90**

Using pages does not make sense any more, so this should be replaced to a link to the existing (nice work @chaosphere2112 !) following target: http://uvcdat.llnl.gov/documentation/cdms/cdms_2.html#table_2.34

This is juste a

[2015-05-01 20:30] chaosphere2112 opened #52 "Missing .nc file for Cubed Sphere sample"
http://uvcdat.llnl.gov/display.php?file=vcs3D_cubed_sphere_volume is missing the data file.

[2015-05-04 21:10] #52 closed

[2015-05-08 17:53] chaosphere2112 opened #54 "ne120np4_latlon.nc in cubed sphere example but no file provided"
We're missing the grid file for the Cubed Sphere example; I'm working with @ThomasMaxwell to get a copy to stick on the website.

[2015-05-08 18:38] #54 closed

[2015-05-13 16:04] durack1 commented on #46
@chaosphere2112 as this is closed in https://github.com/UV-CDAT/uvcdat/issues/1136 (and listed in the [current changelog](http://uvcdat-dev.llnl.gov/changelog.html)), what are the chances this could also get sorted and closed here too?

[2015-05-13 16:07] chaosphere2112 commented on #46
@durack1 I'll see what I can do– I assume the issue you're referring to is the busted table markup?

[2015-05-13 16:13] #46 closed

[2015-05-13 17:15] durack1 commented on #46
@chaosphere2112 yep exactly - fixed!

[2015-05-18 21:36] acmesupport opened #57 "Test issue, pay it no mind"
This is just a test of creating an issue using an API wrapper

[2015-05-18 23:08] acmesupport opened #58 "Something's wrong"
Not really...

[2015-05-18 23:09] acmesupport opened #59 "Something's wrong"
Not really...

[2015-05-18 23:10] acmesupport opened #60 "Something's wrong"
Not really...

[2015-05-18 23:10] acmesupport opened #61 "Something's wrong"
Not really...

[2015-05-18 23:11] #61 closed

[2015-05-18 23:11] #60 closed

[2015-05-18 23:11] #59 closed

[2015-05-18 23:11] #58 closed

[2015-05-18 23:11] #57 closed

[2015-05-18 23:16] acmesupport opened #62 "Something's wrong"
Not really...

[2015-05-18 23:17] acmesupport opened #63 "Something's wrong"
Not really...

[2015-05-18 23:17] acmesupport opened #64 "Something's wrong"
Not really...

[2015-05-18 23:18] acmesupport opened #65 "Something's wrong"
Not really...

[2015-05-18 23:18] acmesupport opened #66 "Something's wrong"
Not really...

[2015-05-18 23:19] acmesupport opened #67 "Nothing to see here"
Move along.

[2015-05-18 23:22] acmesupport opened #68 "Nothing to see here"
These aren't the droids you're looking for.

[2015-05-18 23:23] acmesupport opened #69 "Hopefully the last one..."
Sorry for the email spam :/

[2015-05-18 23:24] acmesupport opened #70 "Hopefully the last one..."
Sorry for the email spam :/

[2015-05-18 23:31] acmesupport opened #71 "These aren't the droids you're looking for"
Blah

[2015-05-18 23:33] acmesupport opened #72 "Hopefully the last one..."

[2015-05-18 23:37] acmesupport opened #73 "Blah blah blah"

[2015-05-19 17:00] acmesupport opened #74 "No real issue, just testing"
It's a test

[2015-05-21 16:41] durack1 opened #75 "Youtube videos linked not available"
The youtube videos linked at http://uvcdat.llnl.gov/animations.html are not available - these links should be updated (if available).

[2015-05-21 17:11] chaosphere2112 commented on #75
Probably going to have to talk to the authors of those papers; I saw @doutriaux1 listed on one of them. Any idea where we could find those animations, Charles?

[2015-05-21 17:13] doutriaux1 commented on #75
I will chase them down. Thanks for spotting this.

[2015-05-21 17:14] chaosphere2112 commented on #75
:+1:

[2015-05-21 17:16] durack1 commented on #75
@doutriaux1 I know there are many more of these - would be good to collect them all in one place - this page seems appropriate..

[2015-05-21 17:29] aashish24 commented on #75
@durack1 +1

[2015-05-21 18:51] durack1 commented on #75
@chaosphere2112 to be honest it would also be nice if there was a placeholder still image, or the youtube window embedded too - if we have candy to show may as well show candy.. I assume you can embed youtube links and just have them not play until toggled..?

[2015-05-21 18:52] chaosphere2112 commented on #75
@durack1 Yup, that's quite doable. Just need to have the videos.

[2015-05-21 21:57] durack1 commented on #75
@chaosphere2112 this might help: https://www.youtube.com/user/llnlaimsgroup

[2015-05-21 21:59] durack1 commented on #75
and another PCMDI related one: https://www.youtube.com/watch?v=3jbrfQZwoHA

[2015-05-21 22:00] durack1 commented on #75
@williams13 also has a video on his climate game from memory too..?

[2015-05-22 01:11] mattben commented on #75
the game is still up https://climatesim.llnl.gov/

[2015-05-26 13:34] jypeter opened #76 ""Available Packages in CDAT" page is out-of-date"
When you are on the following page: http://uvcdat.llnl.gov/installing.html

And then follow the *Available Packages in CDAT* link to: https://github.com/UV-CDAT/uvcdat/wiki/What-Is-Built

... you notice that the page is more than 1 year old (*Charles edited this page on 30 Jan 2014*) and does not even mention a UV-CDAT version number

[2015-05-26 15:42] jypeter opened #77 "Latest CDAT version, etc... on the main page"
Hi @chaosphere2112, I have just noticed that **the welcome page does not mention that 2.2.0 is available**: http://uvcdat.llnl.gov/index.html

As a matter of fact, **the front page should probably always list clearly the version number of the latest version** (and the availability date)! And it's probably a good place to **put a link to your nice changelog page**! http://uvcdat-dev.llnl.gov/change

[2015-05-26 15:58] mattben commented on #77
@chaosphere2112 go have a baby I'll fix

[2015-05-26 15:59] jypeter commented on #77
Wow, congratulations @chaosphere2112 :+1:

[2015-05-26 15:59] mattben commented on #76
@doutriaux1 @aashish24 sounds like the wiki needs to be updated

[2015-05-26 18:13] chaosphere2112 commented on #76
Just updated the wiki page to include a brand-new build_info.txt, and provided platform/version info along with it.

[2015-05-26 18:13] #76 closed

[2015-05-26 18:14] chaosphere2112 commented on #77
Thanks @jypeter; she'll be coming along in the next 2 days (my wife is 8 days overdue currently, and they're inducing tomorrow), so I'm still working presently :smile:

[2015-05-26 18:14] #62 closed

[2015-05-26 18:14] #63 closed

[2015-05-26 18:14] #64 closed

[2015-05-26 18:14] #65 closed

[2015-05-26 18:14] #66 closed

[2015-05-26 18:14] #67 closed

[2015-05-26 18:14] #68 closed

[2015-05-26 18:14] #69 closed

[2015-05-26 18:14] #70 closed

[2015-05-26 18:14] #71 closed

[2015-05-26 18:14] #72 closed

[2015-05-26 18:14] #73 closed

[2015-05-26 18:14] #74 closed

[2015-05-27 20:22] #77 closed

[2015-05-28 22:34] durack1 commented on #75
@doutriaux1 @chaosphere2112 @mattben any luck locating these.. Some lab managers have been asking me about providing them some animations of climate models, it would be great to provide them something that's been generated in-house.. Otherwise I'll fall back to animations that Australian and French collaborators have provided..

What's the chance of a quick turnaround on some hi-res animations??

[2015-06-02 23:13] durack1 commented on #75
Here are some more, and files! http://climate.llnl.gov/animations.html

[2015-06-19 09:16] jypeter opened #80 "The web site does not mention udunits"
I have experimented a bit with udunits2, after experimenting with the units page mentioned in the CF mailing list: https://www.cicsnc.org/pub/jbiard/Udunits2Tables.html

It could be useful to mention that **udunits2** is bundled with UV-CDAT, in the http://uvcdat.llnl.gov/documentation/utilities/utilities.html section

[code]

I have reported a slight error in the docstring in https://github.com/U

[2015-06-19 09:25] jypeter opened #81 "The web site does not mention genutil.filters"
There should be something about **genutil.filters** in http://uvcdat.llnl.gov/documentation/utilities/utilities.html

One of our PhD students needed to compute a running mean and I directed him to _genutil.filters.runningaverage_

[2015-06-29 18:21] mattben commented on #81
@chaosphere2112 @doutriaux1 any ideas

[2015-06-29 18:39] doutriaux1 commented on #81
They have been added after the document that @chaosphere2112 reformatted. There's not much there but yes we should probably mention the 3 functions in there.

[2015-06-29 18:41] doutriaux1 commented on #81
funcs are:
custom1D
runningAverage
smooth121

[2015-06-29 18:51] mattben commented on #80
@jypeter  is this related to #81? @chaosphere2112 @doutriaux1 ideas?

[2015-06-29 18:53] doutriaux1 commented on #80
yep same thing, the doc we used is old, lots has been added since, but doc never updated...

[2015-07-01 12:21] jypeter commented on #80
Indeed, same kind of problem. You want people to easily find what makes CDAT more interesting than anaconda or canopy for the climate community!

And of course make it easy to install ;-)

[2015-07-01 14:13] doutriaux1 commented on #80
@jypeter actually that's right, we should have a page describing our value added compared to other distributions.

[2015-07-01 14:27] jypeter commented on #80
I think I suggested that when I was at PCMDI last December:
- say less about the sponsors and the governance: good, it has moved *out of way* in the Project information at the bottom of the page!
- say more about CDAT specifics and why climate scientists should use it: maybe try to do something more sexy in the *The UV-CDAT Project* part of the home page. Say that it has been developed by climate

[2015-07-03 13:51] jypeter opened #82 "The web site has no link to the askbot"
You don't get any hit when you type _askbot_ in the search box of the site!
- there is currently a link to the askbot on the home page, in the _UV-CDAT 2.2.0 is Available_ box, but this is not found by the search! Is this indexed in whatever the site uses for indexing?
- there should be links to the askbot in (several) appropriate sections of the web site:
  - **Contact** page?
  - **Contribute**

[2015-07-06 14:42] chaosphere2112 commented on #82
@jypeter I get three results when I search:

![screen shot 2015-07-06 at 7 41 05 am](https://cloud.githubusercontent.com/assets/718512/8524849/6c68ad66-23b2-11e5-86ff-d18378d65cc9.png)

That said, I agree that there should be a link to it from somewhere in the site navigation. I'll add that.

[2015-07-06 14:46] chaosphere2112 commented on #80
I have a restructuring of the documentation on the horizon as something I want to work on, but it's going to be a ways out. If someone wants to write up a blurb on udunits2, I'll happily add it to the utilities document. Also, I've not used the alternatives to UV-CDAT, so I'm going to need someone else to list what it is that we provide that competing software does not.

[2015-07-06 15:20] jypeter commented on #82
Correct, I also get the same search results, so forget about my first bullet above (... *this is not found by the search*)

I think we need links to the askbot from several locations, because we want the users to ask the relevant questions on the askbot, and we don't know what the parts of the web site the users will visit (the end users' brains work in mysterious and often  lazy ways)

[2015-07-06 15:27] jypeter commented on #80
UV-CDAT is made in CA, so it must be a cool product! ;) The Beach Boys recommend using UV-CDAT (round, round, I get around in the documentation). I think it's really getting too hot in my office

[2015-07-06 15:41] chaosphere2112 commented on #80
@jypeter Sounds like :wink:

[2015-07-06 16:22] chaosphere2112 commented on #82
OK; how about one link on the bottom navigation and one on the Contact page? Those seem like all of the reasonable places to stick it.

[2015-07-30 08:28] jypeter opened #85 "Obsolete http://uv-cdat.github.io/cdat-site/"
@chaosphere2112 I have followed the **Old CDAT tutorials** link from the _SOFTWARE_ pull-down menu of http://www-pcmdi.llnl.gov, and I found http://uv-cdat.github.io/cdat-site/ !

Maybe this should be completely removed, since this seems to have been meant as a temporary thing?

[2015-08-03 22:19] doutriaux1 commented on #85
@chaosphere2112 @mattben are all of these on uvcdat site now?

[2015-08-03 22:27] mattben commented on #85
I'm not sure I understand the issues. But  http://uv-cdat.github.io/cdat-site/  is the re-write of that content and now where every you click to it, it pulls you to that site. Its hosted on github heres the actually url http://uv-cdat.github.io/cdat-site/

[2015-08-03 22:33] doutriaux1 commented on #85
The question I guess did we move all of that content one way or another to the uvcdat site.

[2015-08-03 22:38] doutriaux1 commented on #85
hum... I merged master into this and tried. I get this:
https://open.cdash.org/viewTest.php?onlyfailed&buildid=3937043
Not sure why. The version does say 2.2.0rc1... Maybe i will try rebasing rather than merging..

[2015-08-04 12:21] jypeter commented on #85
@mattben when I  look at http://uv-cdat.github.io/cdat-site/, it seems to be some temporary port of the old site, with lots of dead links:
* if you click on the  **vcs link**, you get an old version  with no CSS
 * old: http://www-pcmdi.llnl.gov/software/cdat/support/vcs/vcs.html
 * new: http://uv-cdat.llnl.gov/documentation/vcs/vcs.html
* if you click on *cdms*, *cdutil*, etc... you just get dead

[2015-08-04 21:37] mattben commented on #85
I'm sure thats a mess, it was scavenged and put back together. @doutriaux1 do we need to get an intern to start putting this back together again? Or is @jypeter the only one who finds this things?

[2015-08-04 22:08] chaosphere2112 commented on #85
@mattben I think the only thing that needs to be done is to somehow remove the link to the site from the PCMDI site (and maybe point that at http://uvcdat.llnl.gov). Is that a doable thing?

[2015-08-04 22:30] doutriaux1 commented on #85
@mattben I don't know if we need to rebuild the site but we DID lose a bunch of things, for eample today I couldn't find any of my links to the vcsaddons tutorials that where "Somewhere" before.

[2015-08-04 23:27] mattben commented on #85
@chaosphere2112 - yes I can change the links on the PCMDI site. @jypeter is this the correct answer? @doutriaux1 when you say somewhere what does that mean? I'll look through the repos and branches for them as well.

[2015-08-04 23:47] doutriaux1 commented on #85
@mattben "somewhere" means way back when it was hosted on rainbow before we move anything to github. Like medieval times...

[2015-08-05 08:17] jypeter opened #86 "Add arrows to navigate the documentation?"
I was looking at the documentation and wanted to navigate to other pages of the documentation, because I can't search the uv-cdat site (and the documentation) when the Search is still disabled

I have noticed that there are no buttons (or _breadcrumbs_ or simillar navigation helpers) at the top/bottom of the documentation pages to easily go to:
- previous page
- next page
- home, table of content

[2015-08-05 08:25] jypeter commented on #86
My mistake! I have navigated to the very bottom of one of the doc pages and found the links I was requesting!

So the issue is more:
* Add `Previous | Table of Contents | Next` at the top of the pages
* Use a bigger font

[2015-08-05 09:05] jypeter opened #87 "Add Charles old tutorials to the Tutorials' page?"
I have just looked at http://uv-cdat.llnl.gov/tutorials.html and I think it would be very useful to put there some of the old tutorials:
- Unlocking_CDATs_Best_Kept_Secrets.pdf
- CDAT_Refresher_2010.pdf
- vcs-2004-tutorial.pdf
- Charles probably has other pdf that I don't know

Trouble is that some of the content may be out of date. But it's still very good and probably more useful for new users t

[2015-08-05 09:25] jypeter opened #88 "Document the regridding capabilities of UV-CDAT"
Is there a place where _regridding with UV-CDAT_ is documented? That's one of the assets of UV-CDAT over other python distributions, but even I usually don't use it because of the lack of documentation (and the fact that it can use a lot of RAM...). I usually end up using `regrid2.Horizontal`

All I have is:
- A short presentation: http://earthsystemcog.org/site_media/projects/esmf_exec2014/pres_1

[2015-08-05 09:42] jypeter opened #89 "Help people acknowledge UV-CDAT"
Is there a place on the site where you tell how people should acknowledge UV-CDAT? I think I mentioned it to @chaosphere2112 in December but either it's not on the site, or it's not where I'm looking for it

It could be a section at the bottom of http://uv-cdat.llnl.gov/installing.html, and you could also have a link to this new section from http://uv-cdat.llnl.gov/contact.html

And remind people

[2015-08-05 09:42] jypeter opened #90 "Add a page for listing packages using UV-CDAT?"
When mentioning @stefraynaud **vacumm package** in #88, I have realized that maybe there should be a page listing packages that use UV-CDAT. But I don't know where it should be on the site (a new subsection of _Documentation_?). Something basically stating: _hey, we are not alone! Other people use UV-CDAT_.

Maybe also list some _UV-CDAT success stories_ as well! And remind people to acknowledge U

[2015-08-05 10:15] jypeter commented on #85
* @doutriaux1 I have found a reference to *vcsaddons* in one of your old tutorials (*CDAT_Refresher_2010.pdf*). But I remember a web page where you explained how to easily create templates for having lots of plots on the same page. It would be **very useful** to have that back online. I have found it on the wayback machine!!!! \o/ https://web.archive.org/web/20130217183508/http://www2-pcmdi.llnl.g

[2015-08-05 14:45] chaosphere2112 commented on #86
I was just about to post a screen shot :smile:

I'll make sure the revised template for the documentation sticks larger navigation links and puts them on the top as well as the bottom.

[2015-08-05 14:46] chaosphere2112 commented on #90
@doutriaux1 Do we have any notion of what all uses UV-CDAT out there?

[2015-08-05 14:49] chaosphere2112 commented on #89
Good idea! I'll draft some text for this and run it by Dean and Renata.

[2015-08-05 14:50] chaosphere2112 commented on #88
@doutriaux1 Dunno, is there anything more than http://uvcdat.llnl.gov/documentation/cdms/cdms_1.html#1.10 ?

[2015-08-05 14:50] chaosphere2112 commented on #88
Regardless, I can gather up some of that stuff and get it on the site.

[2015-08-05 14:51] chaosphere2112 commented on #87
:+1: I'll take a pass through those and update them on my next web sprint.

[2015-08-05 16:24] doutriaux1 commented on #85
@chaosphere2112 the eztemplate example actually DID show how to use it in vcs. I knew I did that it was just commented out. We should take this page as is and tick it in tutorials section. @jypeter this page is now kindda-sorta reimplemented in the gallery.

[2015-08-05 16:27] doutriaux1 commented on #85
@chaosphere2112 @mattben @williams13 most of the newsletter should be reformatted and put into the tutorials section as well. Looking at them I'm sort of wondering how come we lost some of these cool features from 2008... :cry:

[2015-08-05 16:36] doutriaux1 commented on #90
@jypeter @chaosphere2112 when you build UV-CDAT a manifest is produced that tells you exactly what will be built and which version. @aashish24 is supposed to finish up the tables at: https://github.com/UV-CDAT/uvcdat/wiki/Install-from-source-command-line-options
But I remember having this information somewhere else, but of course can't find it. It might have been for CDAT only...

[2015-08-05 16:37] doutriaux1 commented on #90
the file name is build_info.txt
here an example form yesterday using -DCDAT_BUILD_GRAPHICS=OFF
[code]

[2015-08-05 16:39] doutriaux1 commented on #89
well... https://github.com/UV-CDAT/uvcdat/blob/master/README.md contains a DOI...

[2015-08-05 16:40] doutriaux1 commented on #88
@chaosphere2112 yes that would be awesome to gather all this under tutorials->regridding

[2015-08-05 16:42] doutriaux1 commented on #87
@jypeter @chaosphere2112 that's always been the biggest issue with UV-CDAT although there IS "some" documentation for most things. It has always been nearly impossible to find... And we keep moving around and reorganizing it... So that in the end nobody knows exactly where anything is...

[2015-08-06 09:09] jypeter commented on #87
It can be quite a challenge! That's why I save these files in a special directory, when I find one ;)

[2015-08-06 09:22] jypeter commented on #89
But that's just a DOI for 2.2.0

Of course, it would be nice to have a GMD (http://www.geoscientific-model-development.net/index.html) paper to reference. I have just searched GMD, and there are some papers mentioning CDAT!

http://www.geosci-model-dev.net/full_text_search.html?x=5&y=7&q=cdat

[2015-08-06 09:40] jypeter commented on #90
@doutriaux1 you got me wrong there. We need of course an easy-to-find list of what's bundled with UV-CDAT, but here I'm thinking about a page listing packages built on top of CDAT (eg vacumm), or people having used CDAT, or something like that

**A way to show that it's not just CDAT developers who use CDAT**, that there is a growing community, blahblah. Remember that you have to attract more new

[2015-08-06 09:41] jypeter commented on #86
Thanks!

[2015-08-06 09:52] williams13 commented on #90
Jy, this sounds like a great idea. Yes, UV-CDAT is used heavily in DOE's ACME project as the primary visualization and analysis tool. There are also other projects that UV-CDAT support under DOE  as well, such as PCMDI, CMIP, AMIP, ESGF, NARCCAP, TECA, and many others. NASA and NOAA also have projects that utilize UV-CDAT.

[2015-08-06 16:27] doutriaux1 commented on #90
@williams13 they used to have a "powered by Python" logo. Maybe we could create something similar in addition to the page referencing tools using CDAT.

[2015-08-06 21:26] williams13 commented on #90
Agreed! I will work on this next week.

Best regards,
Dean

From: Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat-site <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, August 6, 2015 at 9:27 AM
To: UV-CDAT/uvcdat-site <uvcdat-site@noreply.github.com<mailto:uvcdat-site@noreply.github.com>>
Cc: "Dean N. Williams" <williams

[2015-09-21 22:19] durack1 opened #98 "Where are the old pages lurking around?"
Hi fellas (@chaosphere2112 @mattben),
It seems a significant cleanup has been undertaken to the old `cdat` webpages, so that links I'd saved such as:
http://pcmdi.github.io/cdat/tutorials/advanced_cdat/comparing_datasets.html
http://pcmdi.github.io/cdat/quick_reference/cdms
http://pcmdi.github.io/cdat/manuals/cdms_v4.0_html/ch2_cdms_4.0.html

Are no longer live - are these pages relocated somewher

[2015-09-22 14:35] chaosphere2112 commented on #98
http://uvcdat.llnl.gov/documentation/cdms/cdms_2.html Is this the same as number 3? The other two, I can't say. I'll try and hunt those down today.

[2015-09-22 16:32] durack1 opened #99 "Two tutorial links are dead"
The two lower links are dead:
[Hovmöller 3D Example](http://uvcdat.llnl.gov/mov/UVCDAT_Departures_MM_annotated4.mp4)
[3D Scalar Example with calculated variable](http://uvcdat.llnl.gov/mov/UVCDAT_error_tf-ta_anno4.mp4)

[2015-09-22 16:38] chaosphere2112 commented on #99
@durack1 Fixed!

[2015-09-22 16:38] #99 closed

[2015-09-22 16:40] durack1 commented on #99
@chaosphere2112 great, thanks!

[2015-11-05 09:44] jypeter opened #100 "Is the wrong version of the cdms documentation online?"
I have just noticed when looking at the online version of the cdms documention, when looking for **MV2** documentation that **we seem to have the wrong version online**! :(

http://uv-cdat.llnl.gov/documentation/cdms/cdms_2.html#2.9

@chaosphere2112 could you check which pdf documentation you converted? When I look at the above page, it mentions MV (and not MV2 !), and looks very similar to the co

[2015-11-05 09:57] jypeter opened #101 "The (Google) search input field is not working properly"
When I'm on the main page of the site, http://uv-cdat.llnl.gov/ and I type *MV2* in the Search field at the top right, I get some results

http://uv-cdat.llnl.gov/search.html?q=MV2

But when I'm in a subsection of the site, e.g. the cdms documentation, and  I type *MV2* in the Search field at the top right, **I do not get any results**!

http://uv-cdat.llnl.gov/documentation/cdms/search.html?q=MV2

[2015-11-05 15:39] chaosphere2112 commented on #100
I just found a copy of **cdms5.pdf**; I'll work on porting it over into the site and replace what we have. That CDMS documentation has been a bit sloppy ever since I cleaned it up somewhat from whatever source it was scraped from previously.

[2015-11-05 15:41] chaosphere2112 commented on #101
This should be fixed; I had neglected the leading "/" for the search URL, so it was trying to find the nonexistent page `/documentation/cdms/search.html` via a relative url.

[2015-11-05 15:41] #101 closed

[2015-11-06 12:10] jypeter commented on #100
Thanks!

[2015-12-30 19:31] golaz opened #103 ""Contact Us" web page"
Tried to subscribe to 'uvcdat-support' following instructions on

http://uvcdat.llnl.gov/contact.html

but it did not work. Error message from majordomo@lists.llnl.gov:

subscribe: unknown list 'uvcdat-support'.

[2016-01-04 14:43] mattben commented on #103
Thank you for bringing this to our attention, we are transitioning to new mail list servers. We will make this update asap.

[2016-01-04 18:00] chaosphere2112 commented on #103
This has been resolved; thanks for the bug report!

[2016-01-04 18:00] #103 closed

[2016-01-11 18:06] chaosphere2112 commented on #100
I've started working on porting the old CDMS5.pdf manual to SPHINX [here](/UV-CDAT/cdms_manual); I'm hoping to finish by the end of February (fitting it around my other tasks).

[2016-01-13 15:30] jypeter commented on #100
Thanks Sam!

[2016-02-01 09:51] jypeter opened #106 "Several notes about the Change Log"
@chaosphere2112 Could you remove the https://github.com/UV-CDAT/uvcdat/wiki/2.4RC3-Release-Notes page and add links from *appropriate* places of the wiki (*builld*  pages? etc...) to the relevant http://uv-cdat.llnl.gov/changelog.html on the web site

Also, I think that there maybe should be a link to the *Changelog* page from the *Installing* pull-down menu at the top (except now it's just a link

[2016-02-01 09:58] jypeter opened #107 "Add a link to the Askbot from Contacts"
@chaosphere2112 can you add a link to the askbot from the contacts page?

The idea is to have as many people as possible using the askbot (asking **and** answering), so the askbot should be *advertised* it's time it's possible

Also, the Contact page should maybe tell the user when he should use the list and when he should use the askbot. I think we talked about this problem once, but I can't reme

[2016-02-01 10:11] jypeter opened #108 "Use consistent links for Installing on the main page"
There are currently TWO different links for installing CDAT on the home page!

- A link to the web site, from the **Installing** link at the top of the page: http://uv-cdat.llnl.gov/installing.html
- A link to the wiki, from the **Install** link just below *UV-CDAT 2.4.0 is Available*: https://github.com/UV-CDAT/uvcdat/wiki/install

Please use the same link! Installation can already be confusing e

[2016-02-01 12:48] jypeter opened #109 "Going from an out-of-date "What-Is-Built?" wiki page to a sexy "What is available?" web page?"
Hi @chaosphere2112, @doutriaux1 and @aashish24

I guess we all want more and more people to use UV-CDAT rather than installing Anaconda or Canopy and then asking how to install cdms2 inside Anaconda and Canopy.

One of the ways to do that is **make it easy for the users to know what is available in UV-CDAT** (i.e. the standard scientific packages they need are there), right from the Home page! Rig

[2016-02-01 12:59] jypeter opened #110 "Download link on UV-CDAT home page is wrong!"
Warning @doutriaux1 and @chaosphere2112 , the download link below *UV-CDAT 2.4.0 is Available* is completely wrong!

It points to http://sourceforge.net/projects/cdat/files/Releases/UV-CDAT/2.4.0/, where there is no 2.4.0 available! :fearful:

If you follow the *Install* link instead, you can get to https://github.com/UV-CDAT/uvcdat/wiki/Install-on-RedHat-or-CentOS#installing-from-binary, and you

[2016-02-01 15:00] jypeter opened #111 "Build mode for the pre-built binaries?"
Can @aashish24 or somebody specify the build mode used for the binaries?

On https://github.com/UV-CDAT/uvcdat/releases and similar pages

It would be nice to have this kind of information in https://github.com/UV-CDAT/uvcdat-site/issues/109 as well

[2016-02-01 15:56] chaosphere2112 commented on #106
@jypeter Sure thing! Those release notes were only there so people could help me work on them while we were prepping the release. I'll take them down now. I think I'll add a "Releases" submenu on the top that will have the running changelog, and a link to an index page for release docs.

[2016-02-01 15:58] chaosphere2112 commented on #110
@jypeter Whoops! That's my bad. We changed up the hosting of the tarball between when I wrote the announcement for the website and when we released. I'll fix that ASAP.

[2016-02-01 18:16] aashish24 commented on #108
This should be used from the web-site

[2016-02-01 18:24] chaosphere2112 commented on #108
Yeah, once I have some free time (probably tomorrow) I'll take a pass through these issues and address them.

[2016-02-02 08:17] jypeter commented on #108
Thanks @chaosphere2112 and @aashish24 !

[2016-02-02 09:31] jypeter opened #112 "Improving issues reporting"
I'm wondering if the *Participate* section of http://uv-cdat.llnl.gov/contact.html should be a bit more detailed

For now, we have a link to the **issues of uvcdat-site**, but maybe there should also be a link to the **issues of cdat** as well. With details about what should go to the *issues*, to the *mailing list*, or to the *askbot*, so this is linked to https://github.com/UV-CDAT/uvcdat-site/i

[2016-02-02 10:01] jypeter commented on #106
Yes, a release submenu to access older versions, and have smaller web pages, would be nice!

The problem with that is that it makes it harder to search in which version a particular problem was found and/or fixed. So what would be really nice would be to add a link to a pdf file on each page, and the pdf would give the full change log

[2016-02-03 17:46] chaosphere2112 commented on #111
Binaries are built using the default build mode; I updated the release notes to mention this fact.

[2016-02-03 17:46] #111 closed

[2016-02-03 17:50] chaosphere2112 commented on #109
I'll get something thrown together; shouldn't be too much work, I'll just build in lean, default, and all, grab the build_info.txt, and build a table. I'll stick a link to it from the release announcement, and we can do that going forward. Won't be automated, but isn't that much work. Maybe I'll write a script to ingest the build_info.txt files :smile:

[2016-02-03 19:54] chaosphere2112 commented on #109
I'm going to be leaving this on the What-Is-Built page, since this is (possibly) a frequently updated item. However, there's a nice table now that breaks it down, which is hopefully more useful.

[2016-02-03 19:54] #109 closed

[2016-02-03 20:00] #107 closed

[2016-02-03 20:00] #112 closed

[2016-02-03 20:00] #110 closed

[2016-02-03 20:00] #108 closed

[2016-02-03 20:00] #106 closed

[2016-02-04 13:54] jypeter commented on #109
Great job, @chaosphere2112 !

I think this is **very useful** and there should probably be an easy way to go from the home page to this information. And now when people want to know how to install cdat into an existing distribution, you can point to this list to prove that UV-CDAT already comes with batteries included, bells and whistles, and everything the climate scientist needs

There should be

[2016-02-18 10:05] jypeter commented on #109
@chaosphere2112 I again had trouble finding easily what packages (and versions) were available in UV-CDAT. Can you provide a link to https://github.com/UV-CDAT/uvcdat/wiki/What-Is-Built from the Home Page and from the ChangeLog Page (http://uv-cdat.llnl.gov/changelog.html)? Thanks!

[2016-04-04 08:44] jypeter opened #115 "Found some &le; and &lt; in cdms2 documentation"
@chaosphere2112 I have found some characters that were not translated correctly in the documentation

If you visit http://uv-cdat.llnl.gov/documentation/cdms/cdms_2.html#table_2.36 you can see

``` 	x &le; axis[i] &lt; y```

When what you want to see is

``` 	x <= axis[i] < y```

[2016-04-19 20:32] #115 closed

[2016-04-19 20:35] chaosphere2112 commented on #115
Thanks, Jean Yves! Fixed it.

[2016-10-06 15:32] mattben opened #117 "tutorials built from iPython notebooks nightly"
we should have a script that pulls all the iPython notebooks from aims4 and auto magically re generates the tutorials page.

[2016-10-06 15:48] aashish24 commented on #117
👍

[2016-10-18 15:38] doutriaux1 commented on #117
@mattben I have a script ofr this in the iPython directory

Also @chaosphere2112 mentioned that jekyll should be able to automatically add a div into `tutorials.md`

[2016-10-18 15:40] mattben commented on #117
I'll get with @chaosphere2112 and get it implemented on the server

[2016-11-23 18:45] doutriaux1 opened #123 "iPython NoteBooks without images should have a default one in Tutorial Section"

[2016-11-28 17:47] mattben commented on #123
I can do this, @doutriaux1 is there a good ipython or notebook logo I should use?

[2016-11-28 17:49] doutriaux1 commented on #123
https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwi8xbytgczQAhVJs1QKHaksCw0QjRwIBw&url=https%3A%2F%2Fipython.org%2Fipython-doc%2F3%2Fwhatsnew%2Fversion0.13.html&psig=AFQjCNEgxXSoaRRSYdhza2TLZ3Jw6nvs-g&ust=1480441724115517

[2016-11-28 17:49] doutriaux1 commented on #123
or the uv-cdat logo

[2016-11-28 17:50] doutriaux1 commented on #123
![](http://nbsphinx.readthedocs.io/en/0.2.7/_images/notebook_icon.png)

[2016-11-28 17:51] mattben commented on #123
Thank you

[2017-02-16 09:28] jypeter opened #125 "Status of CDAT askbot?"
@chaosphere2112 and @doutriaux1 I have not visited the askbot for a long time and I thought I could give it a try and click on _AskBot_ in the _UV-CDAT 2.8.0 is Available_ box of http://uvcdat.llnl.gov/

Unfortunately, I get the following, after some time-out:

So, what's the status of AskBot (and related plans)?

[2017-02-16 09:43] jypeter opened #126 "What is the current official name of [[UV-]CDAT]?"
@chaosphere2112 and @doutriaux1, I may have dreamed this, but I kind of remember somebody or a poster at the Washington ESGF F2F stating that the **C** in *CDAT* now stood for _Community_ or something like that. There is no mention of this either on the web site home page or on some of the wiki pages I checked.

Have I been hallucinating (and I confess I have a bad memory)?

Of course, if there is

[2017-02-16 15:28] doutriaux1 commented on #126
No official name change as of now.

[2017-02-16 15:28] #126 closed

[2017-03-02 17:00] jypeter opened #127 "cdms2+dods/dap example script"
@chaosphere2112 @doutriaux1 I have added below a detailed example script that demonstrates several nice and useful features of cdms2. Don't know if you want to add this to the gallery or tutorials. You are allowed to adapt it or not use it

It's an improved and commented version of what I put in https://github.com/UV-CDAT/cdms/issues/98

[code]

[2017-03-02 20:11] doutriaux1 commented on #127
Thanks JYP,

If you could convert it to a jupyter notebook that would be even better.

Otherwsie don’t worry someone here will take care of it.

C.

From: Jean-Yves Peterschmitt <notifications@github.com>
Reply-To: UV-CDAT/uvcdat-site <reply@reply.github.com>
Date: Thursday, March 2, 2017 at 9:00 AM
To: UV-CDAT/uvcdat-site <uvcdat-site@noreply.github.com>
Cc: "Doutriaux, Charles" <doutriaux1@llnl.

[2017-03-03 08:58] jypeter commented on #127
Hmm, I'm not a big fan of notebooks, especially for real cases like this one where you have (nested) loops. So I'm not very proficient with jupyter (have not used it in months). Feel free to have somebody adapt it. I'm very interested in what it will look like

I'm also not a big fan on people running notebooks on shared  servers, but it's OK if they study teaching material on their local machine

[2017-03-06 16:21] doutriaux1 commented on #127
@jypeter defintely for local servers.

[2017-03-08 14:29] jypeter opened #128 "Error in Documentation->Getting started"
@mattben and @chaosphere2112 if you go to the main web site, https://uv-cdat.llnl.gov/index.html, and then select _Getting started_ in the _Documentation_ pull down menu, you get to a wiki page that has instructions for the pre-conda versions of CDAT! I'm not sure that's what you had in mind

https://github.com/UV-CDAT/uvcdat/wiki/Getting-Started

Besides, this wiki page shows the following at the

[2017-03-08 14:36] mattben commented on #128
@doutriaux1 should I remove the link complete or have it point to say the gallery? Will anyone re-write the page?

[2017-03-08 15:29] jypeter commented on #128
Well, people need a _Getting started_ page, don't they? I guess the minimum change may be to point to the following page

https://github.com/UV-CDAT/uvcdat/wiki/Install

[2017-03-08 15:53] jypeter commented on #128
Hmmm, I have just seen that from the top of the gallery

https://uv-cdat.llnl.gov/gallery.html

There is a helpful note _Feeling lost? Check out our Getting Started guide._ that links to a page on the web site that has a very similar (and therefore a bit out-of-date) content to the wiki page

https://uv-cdat.llnl.gov/getting_started.html

[2017-03-08 18:11] doutriaux1 commented on #128
@mattben i edited the text, can we safely remove the "alyout/title" bits? I"ll let you handle this.

[2017-03-10 09:23] jypeter opened #129 "What happened to the Search field?"
@chaosphere2112 @doutriaux1 @mattben Is it a bug or a feature that there is **no Search field** any more on the main web site? For an instant I feared I had just imagined that there had been a Search field before, but I have found an old issue mentioning it: https://github.com/UV-CDAT/uvcdat-site/issues/101

Considering that:
- not everything is documented, etc
- there is little traffic on the mai

[2017-03-10 10:30] jypeter opened #130 "VERY ODD example in the "VCS Functions" part of the online manual"
@chaosphere2112 @doutriaux1 I have just checked the FIRST example you get when you visit the following link in the vcs documentation: https://uvcdat.llnl.gov/documentation/vcs/vcs-4.html#4.5

You get the following
[code]

LOTS of remarks (more than lines in the example):
- _cdms2.setAutoReshapeMode('on')_ **does not exist**. It's not even a function I had ever heard of in previous versions, so it'

[2017-03-10 13:16] jypeter opened #131 "Slight error in the "Walkthrough of each attribute of Boxfill" tutorial"
I have had a **quick** look at the **quite nice** boxfill tutorial: https://uvcdat.llnl.gov/iPython/boxfill/boxfill.html

Between the **box.legend** and **box.ext_1 and box.ext_2** sections, you may want to get rid of the following. Looks like a notebook cell may have been re-executed _out of sequence_ (or whatever the name is for this kind of thing) and generated an error. That's one of the reaso

[2017-03-13 14:16] doutriaux1 commented on #130
@jypeter this has been converted directly from the 90s documentation. Thanks for pointing it out. I'll take care of it.

[2017-03-13 14:23] doutriaux1 commented on #131
@chaosphere2112 do you mind regenerating the notebook? Thanks.

[2017-03-14 10:30] jypeter commented on #130
OK, old bugs and inconsistencies! :( I thought maybe that had been introduced by someone who was not completely familiar with the package.

Maybe there should be some warning at the top of the documentation pages saying that they have been converted from the old documentation and that the users should first check the gallery, look at the notebooks, and use the builtin help to access the docstrings

[2017-03-14 10:36] jypeter opened #132 "Web version of the doc strings, 'pydoc -g', etc..."
I have just remembered the very useful **pydoc -g** command, that seems to be still in place. I don't know where this should be mentioned on the web site or the wiki, but it could be useful for users.

I remember seeing some threads about somebody working on the documentation. Are there somewhere some automatically generated web pages where the user can browse the docstrings of cdat packages (with

[2017-03-14 11:05] jypeter opened #133 "Is the download link on the main web page STILL wrong?"
@chaosphere2112 and @doutriaux1 I don't know how to reopen https://github.com/UV-CDAT/uvcdat-site/issues/110

I have juste followed (again) the download link at the top of https://uv-cdat.llnl.gov/index.html and it seems you only have 2.2.0 on sourceforge
- it is misleading to have a link to something that is a bit outdated without specifying that it is outdated
- What a success! It says 20 downlo

[2017-03-14 13:35] jypeter commented on #125
Oh well, when I clicked on http://uvcdat.askbot.com/ before, nothing happened (time out). Now I get the following
![nouvcdataskbot](https://cloud.githubusercontent.com/assets/2785573/23902930/0779d496-08c3-11e7-91cf-db4d10d88951.png)
If the Askbot Rests In Pieces, you may want to also remove the link from https://github.com/UV-CDAT/uvcdat/releases
`We also alert users to an Askbot website to help

[2017-03-14 14:56] doutriaux1 commented on #133
@mattben do you mind taking out the download link

[2017-03-14 14:57] doutriaux1 commented on #133
@mattben @chaosphere2112 did we officially drop the never used askbot?

[2017-03-14 14:58] mattben commented on #133
Can remove them. We're still paying for it… If we don't promote it people won't use it… Either way

[2017-03-14 15:01] #133 closed

[2017-03-14 15:03] mattben commented on #125
I've removed the link, sending email and researching what happened to the service. I'm pretty sure we're still paying for it...

[2017-03-14 15:17] mattben commented on #129
The site is static site generated using Jekyll. The google search bar was removed due to it not working correctly, examples showing wrong info, finding outdated info from other / old sites.

[2017-03-14 15:17] #129 closed

[2017-03-14 15:17] mattben commented on #101
The site is static site generated using Jekyll. The google search bar was removed due to it not working correctly, examples showing wrong info, finding outdated info from other / old sites.

[2017-03-14 15:21] mattben commented on #98
@durack1 the page is question are from the pcmdi site. Should this issue be a pcmdi site issue? Some of the old cdat site was scrapped and is viewable here http://uv-cdat.github.io/cdat-site/

http://uv-cdat.github.io/cdat-site/cdms.html

[2017-03-14 15:26] #5 closed

[2017-03-14 15:26] #7 closed

[2017-03-14 15:27] mattben commented on #15
LLNL archiving of email not possible at this time.

[2017-03-14 15:27] #15 closed

[2017-03-14 15:29] mattben commented on #31
all pcmdi web sites are under major construction and will all be under pcmdi.llnl.gov very soon.

[2017-03-14 15:30] mattben commented on #32
Is any of that useful information at this point? @doutriaux1

[2017-03-14 15:36] mattben commented on #75
https://uvcdat.llnl.gov/mov/Exploratory-DiagnosticsTree.mov
https://uvcdat.llnl.gov/mov/GO-ESSP%20Tech%20Presentation%20ESGF%20-%20IdEA%209-2-14 8.00%20AM.mov
https://uvcdat.llnl.gov/mov/h264.mp4
https://uvcdat.llnl.gov/mov/LLNL_acme-web-fe.mov
https://uvcdat.llnl.gov/mov/mp2_high.mp4
https://uvcdat.llnl.gov/mov/mp2_low.mp4
https://uvcdat.llnl.gov/mov/orbit.mov
https://uvcdat.llnl.gov/mov/ORNLExpl

[2017-03-14 15:38] mattben commented on #82
As of now askbot is dead again

[2017-03-14 15:38] #82 closed

[2017-03-14 15:43] durack1 commented on #75
@mattben the original linked page https://uvcdat.llnl.gov/animations.html still doesn't have anything showing

[2017-03-14 15:46] durack1 commented on #98
@mattben @doutriaux1 I think there is a bunch of stuff that should be migrated across to https://uv-cdat.llnl.gov/ for e.g. [taylor diagrams](http://uv-cdat.github.io/cdat-site/taylordiag.html) and a bunch of the items that are only found under the tutorials heading at http://uv-cdat.github.io/cdat-site/

[2017-03-14 15:51] mattben commented on #75
What page do you see that link on?

https://uvcdat.llnl.gov/tutorials.html?

[2017-03-14 15:55] doutriaux1 commented on #31
@mattben let's leave it open until it's fixed for real.

[2017-03-14 15:56] doutriaux1 commented on #32
We're trying to drop the cdat-discussion as much as possible. But we could definitely add a link to it burried at the bottom of a page :wink:

[2017-03-14 15:58] doutriaux1 commented on #98
@durack1 agreed they need to be translated to jupyter notebooks

[2017-03-14 15:58] doutriaux1 commented on #98
@durack1 planning on getting to it eventually... Definitely not unitl after the release.

[2017-03-14 16:05] durack1 commented on #98
@doutriaux1 good to know, I just didn't want this stuff to get lost, closing the issue would suggest to me that it likely will

[2017-03-14 16:06] durack1 commented on #98
@doutriaux1 with regard to jupyter notebooks, if you provided us a template we could start pushing out these as part of the ongoing PMP works, I know @gleckler1 and @lee1043 would both be keen to go down that path.. And then we could share the load too, we give you pre-prepared notebooks

[2017-03-14 16:08] durack1 commented on #75
@mattben it looks like it's been lost off the new site nav.. I wonder what other goodies have been lost..?

[2017-03-14 16:09] durack1 commented on #75
@mattben where are the videos in https://github.com/UV-CDAT/uvcdat-site/issues/75#issuecomment-286460182 linked off? I can't seem to find them in the new nav

[2017-03-14 16:12] doutriaux1 commented on #98
@durack1 Thanks! I will try to do one then as soon as vcs test suite is in repo.

[2017-03-14 16:19] durack1 commented on #98
@doutriaux1 great, then we can start using your example as a template for future works.. I know that the [taylor diagram demo](http://uv-cdat.github.io/cdat-site/taylordiag.html) in particular will be heavily used

[2017-03-14 16:50] doutriaux1 commented on #98
i'll do this one then

[2017-03-21 13:13] mattben commented on #125
There is no more askbot.

[2017-03-21 13:13] #125 closed

[2017-03-21 13:16] mattben opened #134 "Release Notes"
This issue may be open on the uvcdat repo but I just want to double check.

Is there anything I'll need to do to the site when @doutriaux1 creates a new release notes?

[2017-03-21 13:21] mattben opened #135 "Documentation"
Wrong repo….

https://uvcdat.llnl.gov/docs/index.html

- [ ] Building Documentation (html, pdf)
- [ ] Doc Strings
- [ ] Running Doc Tests
- [ ] Writing / Editing Doc Tests
- [ ] Brain Dump

[2017-03-21 15:44] chaosphere2112 commented on #134
Yeah; you'll need to add an entry to `releases/index.md` pointing at the release and the changelog (which gets inserted at the top of `changelog.md` with an anchor tag using the version number)

[2017-03-21 15:54] chaosphere2112 commented on #135
1. Building Documentation:
    - The immediate process is pretty easy:
[code]
        These will output to `vcs/docs/_build/html` and `vcs/docs/_build/latex` respectively.
    - Eventually should work on getting this done as part of the tagging process (and possibly maintaining a nightly version of the docs to go with the builds pushed to the nightly label)
2. Doc Strings:
    - These are automati

[2017-04-27 08:38] jypeter opened #137 "Make sur the tutorials use vcs.sample_data"
@mattben and @doutriaux1 I wanted to quickly run the nice vector related examples of the [Gallery](https://uvcdat.llnl.gov/gallery.html#vector) to check if I would get the same results, because the vectors in my current plot look weird. Unfortunately they use some **data that is not in vcs.sample_data**. It would be much more useful to use some of the sample data

- https://uvcdat.llnl.gov/example

[2017-08-08 12:47] jypeter opened #141 "Slight error in the Changelog"
@chaosphere2112 when I look at the Release Notes, https://uvcdat.llnl.gov/changelog.html, I see 2 error/warning lines that probably should not be there
[code]

[2017-08-08 12:51] #141 closed

[2017-08-08 12:52] mattben commented on #141
site should show update a few minutes after the hour.

[2017-08-08 12:57] jypeter commented on #141
Thanks! Is this generated by hand? I thought there was a script to pull everything needed for the Changelog

[2017-08-08 13:06] mattben commented on #141
I believe your correct. @chaosphere2112 no longer works here, and @doutriaux1 will be in later. I've just removed the error texted and will let @doutriaux1 know about the issues.

[2017-08-08 13:13] jypeter commented on #141
OK, I did not know! So I'll ping you for web related stuff, instead of "You or Matt" :)

[2018-03-28 13:36] mattben opened #147 "example.html"
Page tracking,

{% highlight cython %}{% include {{page.script | prepend:"source/"}} %}{% endhighlight %}

[2018-04-03 10:56] #47 closed

[2018-04-03 10:56] #48 closed

[2018-04-03 10:56] #49 closed

[2018-04-03 10:56] #75 closed

[2018-04-03 10:56] #80 closed

[2018-04-03 10:56] #81 closed

[2018-04-03 10:56] #85 closed

[2018-04-03 10:56] #86 closed

[2018-04-03 10:56] #87 closed

[2018-04-03 10:56] #88 closed

[2018-04-03 10:56] #89 closed

[2018-04-03 10:56] #90 closed

[2018-04-03 10:56] #98 closed

[2018-04-03 10:56] #100 closed

[2018-04-03 10:56] #117 closed

[2018-04-03 10:56] #123 closed

[2018-04-03 10:56] #127 closed

[2018-04-03 10:56] #128 closed

[2018-04-03 10:56] #130 closed

[2018-04-03 10:56] #131 closed

[2018-04-03 10:56] #132 closed

[2018-04-03 10:56] #16 closed

[2018-04-03 10:56] #17 closed

[2018-04-03 10:56] #18 closed

[2018-04-03 10:56] #23 closed

[2018-04-03 10:56] #24 closed

[2018-04-03 10:56] #31 closed

[2018-04-03 10:56] #32 closed

[2018-04-03 10:56] #43 closed

[2018-04-03 10:56] #44 closed

[2018-04-03 10:58] mattben opened #150 "Broken Cron"
Cron job for cdat site and vcs-docs does not seem to be working / running

[2018-04-03 10:59] mattben opened #151 "vCDAT Tab"
Need a new nav tab vCDAT to point to the vCDAT wiki for now.

[2018-04-03 10:59] mattben opened #152 "vCDAT Page"
Create a new vCDAT page with tutorial video links

[2018-04-03 11:00] mattben opened #153 "Gallery is broke"
bootstrap is not working on the gallery page, it should be in a grid not a list, and the quick select is not doing anything.

[2018-04-03 11:01] mattben opened #154 "Update Deploy Doc"
Update and verify the deployment doc for the cdat site and vcs-docs sites.

[2018-04-16 16:56] mattben commented on #150
/tmp/uvcdat-site.txt as long as pcmdi6 is working, the cron runs every 5 mins

[2018-04-16 16:56] #150 closed

[2018-04-16 16:56] mattben commented on #153
fixed by #150

[2018-04-16 16:56] #153 closed

[2018-04-23 19:26] mattben commented on #135
Done(ish) and Copy of Sams notes moved to https://acme-climate.atlassian.net/wiki/spaces/AIMS/pages/560333513/Deploy+our+sites (user account required)

[2018-04-23 19:26] #135 closed

[2018-04-23 19:28] mattben commented on #137
@doutriaux1 @lee1043 is this possible, doable, or a not fixing (close)

[2018-04-23 19:29] mattben commented on #134
Charles creates and pushes the release notes.

[2018-04-23 19:29] #134 closed

[2018-04-23 19:29] mattben commented on #147
Changed highlighter, still works

[2018-04-23 19:29] #147 closed

[2018-04-23 19:56] lee1043 commented on #137
@jypeter great point. I was using one of CMIP5 output for that example but not sure if we want to add that in CDAT as sample dataset. @doutriaux1 what do you think?

[2018-04-23 20:00] doutriaux1 commented on #137
sure... I'll take a look

[2018-08-02 12:11] jypeter opened #157 "Installation page inconsistency"
@mattben @doutriaux1 When you are on the home page of the site, https://cdat.llnl.gov/, you have the following sentence and link: "you can look into getting our application [installed](https://cdat.llnl.gov/installing.html)", where the link points to: A) https://cdat.llnl.gov/installing.html

Yet, when you click on the _Installing_ button at the top of the page, the link is B) https://github.com/C

[2018-08-02 15:23] doutriaux1 commented on #157
@jypeter actually B) iswhat we want. @mauzey1 this would be a good one for you to start understanding the VCS website.
@jypeter FYI @mattben left our group and @mauzey1 will be taking over.

[2018-08-02 15:38] jypeter commented on #157
Oh, OK. Well, there is a link to B) (and additional information) from A), that's why I thought it seemed better, but it's your call

Welcome @mauzey1 !

[2018-08-07 14:29] jypeter opened #158 "vcs projections' list and demo"
It would be useful to have a notebook/demo about what you can do with projections in vcs. Does @lee1043 already have something about that, by chance? I have an idea about how projections work in vcs, but I don't know all the projections that are available now, and what parameters you can use

A Google search of "cdat vcs projection" does not give much result

I have a placeholder for projections o

[2018-08-07 15:42] doutriaux1 commented on #158
It's definitely on my todo. The next two notebook I'm planning to do are: Template and Projections. 2 biggies.

[2018-08-08 07:24] jypeter commented on #158
Thanks! And we definitely need something about your old module for automatically generating grids of templates! Unfortunately, I can't remember this module's name (it was mostly used by Masa), and I have not been able to find a reference to it in the examples/demos/wiki

[2018-08-08 07:54] lee1043 commented on #158
Thanks @doutriaux1 for having this item in your list. That would be very helpful definitely.

[2018-08-08 09:06] jypeter commented on #158
I'm waiting for Masa to give me the name of the module I mentioned above. Too bad I can't search the web site (#129), and [site:cdat.llnl.gov template](https://www.google.com/search?q=site:cdat.llnl.gov+template) does not give me an answer

[2018-08-08 09:44] jypeter opened #159 "Add documentation for EzTemplate"
The only place where Google can find a reference to the nice EzTemplate module is the [Polar Plots demo](https://cdat.llnl.gov/Jupyter/PolarPlots/PolarPlots.html#clock), where the module is used, with no users' manual on the web site!

It would be useful to have some form of https://github.com/CDAT/cdat-old-site/blob/master/eztemplate.md back on the current web site, with some links to find it eas

[2018-08-08 09:45] jypeter commented on #158
Masa told me I was looking for EzTemplate! #159

[2018-08-08 14:04] doutriaux1 commented on #159
@jypeter it used to be in the gallery. I will revive it today as a notebook.

[2018-08-08 21:10] doutriaux1 commented on #159
@jypeter see: https://github.com/CDAT/vcsaddons/blob/cleanup_eztemplates/Doc/Jupyter/Ez%20Templates.ipynb and #158

[2018-08-08 21:10] doutriaux1 commented on #159
Should be online at https://cdat.llnl.gov shortly

[2018-11-06 09:41] jypeter opened #171 "Is interact() documented somewhere?"
@doutriaux1 I have just noticed that `interact` is not documented in the [VCS Quick Reference ](https://cdat-vcs.readthedocs.io/en/latest/quick-reference.html) page, where it would fit nicely. It's probably not documented in the notebooks, where I guess it makes no sense to use _interact_.

I have also googled `cdat vcs 'interact()'` but it does not produced anything useful

The only place where I

[2018-11-06 10:22] jypeter opened #172 "Add a figure detailing the template elements"
@doutriaux1 I can't find the figure you sent me giving the name and location of the different elements of a template. Can you send it again, and add it to a relevant part of the vcs documentation?

And then you can probably link to it from around `In [12]` of https://cdat.llnl.gov/Jupyter/Basic_VCS_demo/Basic_VCS_demo.html

Thanks!

[2018-11-06 13:17] doutriaux1 commented on #171
@jypeter thanks. @davis278 when you get back, can I show you how to edit the vcs documentation?

[2018-11-07 10:45] jypeter commented on #157
@doutriaux1 I have followed the outdated A) link again! Can somebody fix the home page?

[2018-12-14 08:34] jypeter commented on #172
@doutriaux1 ping. I have just worked a bit with Masa, and something helping us figure out where datanama/varname/title/etc... would have helped. I think we need to know both where these things are located by default and where they get their value from. Thanks!

[2019-01-16 10:58] jypeter opened #173 "Full name of CDAT not displayed correctly on home page?"
@doutriaux1 is it normal that, on the [CDAT home page](https://cdat.llnl.gov/), the full name of CDAT is on 2 lines, _Community_ on one line, and then _Data Analysis Tools_ on the next line with a **smaller** font ?

[2019-01-16 14:12] doutriaux1 commented on #173
Nope. @davis278 do you mind approving the PR at: https://github.com/CDAT/cdat.github.io/pull/174

[2019-02-27 15:42] jypeter commented on #157
@doutriaux1 I'm a bit confused again, because I have started following the instructions on

B) https://github.com/CDAT/cdat/wiki/install

And then I branched to the Win10+WSL page that I was interested in, and in the end the Win10+WSL page sends you to

C) https://github.com/CDAT/cdat/wiki/Install-using-Anaconda

B) and C) are very (but not quite) similar, and the duplication is confusing. Can som

[2019-02-28 10:08] jypeter opened #179 "TWO different views of getting_started"
Some googling sent me to a nice looking _Getting started_ page

A) https://cdat.llnl.gov/getting_started.html

But when I'm on A) and I click on "Getting started" from the Documentation pull-down menu, I get to

B) https://github.com/CDAT/cdat/wiki/Getting-Started

Are A) and B) the same thing? Can you set-up things so that when you are on the main web site, you mostly get pages from cdat.llnl.gov

[2019-02-28 10:24] jypeter opened #180 "Correct way of providing CDAT version information ?"
Could you document on the web site (and the wiki) the best way that a CDAT user can determine the version of CDAT s/he is using and let you know about it? This may seem straightforward, but I'm dealing with several installed versions of CDAT on several servers and this is going to get worse if I add Python 3 versions

I know that you can use `conda list`
[code]
[code]
I have also seen @doutriaux1

[2019-02-28 11:01] jypeter opened #181 "Add details to the 'nightly' page"
@doutriaux1 I've installed my first nightly version of CDAT, in order to get a working version of cdms2 on Win10+WSL (I can at least _import cdms2_ it, don't know yet if it actually works), but I have some burning questions that are not answered by the [Obtain CDAT nightly packages](https://github.com/CDAT/cdat/wiki/Obtain-CDAT-nightly-packages)

- how stable is the _nightly_ version? do you guara

[2019-02-28 16:59] davis278 commented on #179
Thanks @jypeter. I've created a pull request (https://github.com/CDAT/cdat.github.io/pull/182) which should fix the issue, so hopefully it will be deployed soon.

[2019-03-04 07:58] jypeter commented on #159
Closing this, because I can indeed see the notebook in the tutorials

[2019-03-04 07:58] #159 closed

[2019-03-06 23:42] davis278 commented on #179
Closing issue since pull request #182 fixed the issue.

[2019-03-06 23:42] #179 closed

[2019-03-06 23:48] davis278 opened #184 "Broken link on Tutorials page: "Take multiple monthly arrays covering different time scales and "grow" them to cover the union time" tutorial"
Need to fix link to the "Extend_Two_Variables_To_Cover_Same_Time_Domain" Jupyter Notebook.

[2019-03-07 09:59] jypeter opened #186 "8.1 missing from "Release Announcements" page"
Thanks @doutriaux1 and team for 8.1! You can probably add it to [Release Announcements](https://cdat.llnl.gov/releases/)

[2019-03-07 10:11] jypeter opened #187 "Replace occurences of "cdat8" with "cdat81" on Install page?"
@doutriaux1 your mail mentions
`conda create -n cdat81  -c cdat/label/v81 -c conda-forge cdat`

But the Install pages ([Install](https://github.com/CDAT/cdat/wiki/install) and [Install using Anaconda](https://github.com/CDAT/cdat/wiki/Install-using-Anaconda) are still installing in a `cdat8` environment
[code]

Should you **replace cdat8 with cdat81** on those pages? When someone check these 2 pag

[2019-03-07 10:39] jypeter commented on #186
Also need to update the [Change log page](https://uvcdat.llnl.gov/changelog.html)

[2019-03-07 14:25] doutriaux1 commented on #187
@jypeter the `-n` option is the name of your conda env it can be whatever you want. `-n jyp` if you want, as long as the `create` and `activate` lines are consistent it really doesn't matter. But thanks for spotting it. @davis278 I will let you decide if we want to update the pages or not.

[2019-03-07 15:53] jypeter commented on #187
I know you can use whatever name you want. Just thought you maybe wanted to stay consistent

If I understood your mail correctly, @davis278 can also remove all the occurrences of `-c cdat` on the _create_ lines

[2019-03-12 18:25] davis278 commented on #184
Problem solved; closing issue.

[2019-03-12 18:25] #184 closed

[2019-03-12 18:28] davis278 commented on #173
This issue has been resolved so closing the issue.

[2019-03-12 18:28] #173 closed

[2019-03-14 14:01] jypeter opened #189 "Add a way to download all the notebooks at once"
In the [Jupyter-notebooks Tutorials](https://uvcdat.llnl.gov/tutorials.html) page, it could be useful to add a way to **download all the notebooks at once**

Something similar to the download links at the bottom of https://scitools.org.uk/cartopy/docs/latest/gallery/index.html

[2019-03-25 19:36] davis278 commented on #157
The two installation pages you mention above have been edited to eliminate overlapping/conflicting instructions. The Install-using-Anaconda page was edited and renamed to https://github.com/CDAT/cdat/wiki/Additional-Installation-Configurations. Thanks for your input @jypeter.

[2019-03-25 19:36] #157 closed

[2019-03-25 19:54] davis278 commented on #187
This issue has been resolved: -c cdat occurrences on the create lines have been removed and references to the environment as cdat8 have now been changed to cdat81.

[2019-03-25 19:54] #187 closed

[2019-03-26 14:59] jypeter opened #190 "Add more content to "Partial installation""
Thanks @davis278 for what you did in #157!

In the [Partial installation](https://github.com/CDAT/cdat/wiki/Additional-Installation-Configurations#partial-installation) section:
- could you specify if cdutil/genutil/cdtime (and other PCMDI packages) can be installed separately, or if they are bundled with cdms2 and/or vcs
- it could be useful to mention how to [install cmor](https://cmor.llnl.gov/

[2019-03-26 15:23] jypeter opened #191 "What is CDAT?"
A philosophical question for @doutriaux1 and @davis278 !

**What is CDAT** ?

The [home page](https://cdat.llnl.gov/) gives an overview of CDAT, but it is hard to assimilate because the page is _a bit_ cluttered.

 I don't know what can be done about that but the CDAT users at PCMDI could have a brain-storming session to come up with something shorter, reducing the use of fancy words like _synergi

[2019-03-26 16:41] doutriaux1 commented on #191
Thanks @jypeter great suggestion!

[2019-03-27 11:00] jypeter opened #192 "Seriously out-of-date "UV-CDAT Utilities - CHAPTER 3" documentation"
@doutriaux1 @davis278 A colleague asked some questions about the `eofs` package and I googled `cdat eof` after answering, to see what CDAT was providing. I landed on https://cdat.llnl.gov/documentation/utilities/utilities-3.html that gives examples using `from eof import Eof` and a data file from Paul Dubois (`f=cdms.open('/home/dubois/clt.nc')`, using `cdms` and not `cdms2`, this is **old**!)

Yo

[2019-03-27 12:37] doutriaux1 commented on #192
@jypeter we stopped supporting these a few years back, and we had no requests for them until today. You can find the source package under the `contrib` packages directory on the cdat repo:
(see: https://github.com/CDAT/cdat/tree/master/contrib)
Also the conda recipes for most of them can be found there: https://github.com/CDAT/conda-recipes

But again has not been updated in years.

[2019-03-27 12:38] doutriaux1 commented on #192
@davis278 when porting cdutil doc to a notebook, it might be worth to mention these links and the fact that these package are no longer part of CDAT as they were external contributions to CDAT and therefore should be maintained via conda by their original developers.

[2019-03-27 12:59] jypeter commented on #192
If these packages are no longer supported, you might as well remove them from the documentation. Trimming the documentation where it does not have anything to do with the current version is the way to go

Oh, I have just had a look at the `averager` documentation in [chapter 1](https://cdat.llnl.gov/documentation/utilities/utilities-1.html) that we definitely want to keep, and I see lots of refere

[2019-03-27 13:07] doutriaux1 commented on #192
@jypeter it is on our todo list to update the cdutil documentation. WE're getting closer. But feel free to help us and take the cdutil doc and put it into a notebook, this will save us a great amount of time!

[2019-04-19 09:57] jypeter opened #193 "Lots of broken links in "Create Your Own Colormap" page"
@lee1043 @doutriaux1 There are lots of broken links in https://cdat-vcs.readthedocs.io/en/latest/Jupyter/Color_map_create_own.html

For example
- The link at the end of "Detailed reference document of the VCS colormap can be found at here." (at the top)
- The link in 'You can create your own colormap by using "createcolormap <https://uvcdat.llnl.gov/docs/vcs/Canvas.html?highlight=createcolormap#vc

[2019-04-19 14:08] jypeter opened #194 "Embedded videos broken in "Animations In VCS""
I have opened the [Animations In VCS](https://cdat-vcs.readthedocs.io/en/latest/Jupyter/Animations.html) page in FF, Chrome and IE, but there are only error messages displayed where the videos should be

[2019-04-19 16:10] jypeter opened #195 "Improving the 'color' example in the Gallery"
I'm experimenting with colors and it troubled me that I was not getting the same result as the displayed png when running the example

The example uses the following colors, expecting to get red at index 242
`fill.color = ["red", 242, (100, 0, 0, 100), (100, 0, 0)]`
This is unfortunately not the case any more, now that the default colormap is **viridis**!

In order to get the same result as the ex

[2019-04-24 13:49] doutriaux1 commented on #194
@jypeter yes readthedoc does not regenerate the notebooks, i need to figure out how to manually update them. Thx for reporting.

[2019-05-24 12:55] jypeter commented on #192
I was about to report that problem again and found out that I had already opened this issue!

I wonder if you can just completely remove Chapter 3, if @doutriaux1 can confirm that no User Contributed Package is available any more

You could move the index at the end of Chapter 3 to the end of Chapter 2, but I'm not sure it's worth it, since the [Table of Contents](https://cdat.llnl.gov/documentati

[2019-05-24 13:08] doutriaux1 commented on #192
@jypeter you're right we should remove this.

[2019-05-24 13:12] jypeter opened #196 "Improve the "UV-CDAT Utilities Manual Table of Contents" links"
I have just noticed that when you are on the [UV-CDAT Utilities Manual Table of Contents](https://cdat.llnl.gov/documentation/utilities/utilities.html) page, all the links of a section point to the beginning of the section, rather than to a specific part of a section

e.g, for **CHAPTER 2**, you get the same link if you click on _CHAPTER 2_, _correlation_, _median_, ...: https://cdat.llnl.gov/docu

[2019-05-24 13:31] doutriaux1 commented on #196
@ reshel3 FYI since you're rewriting this.

[2019-05-24 13:32] doutriaux1 commented on #196
@reshel3 let me know if you have questions

[2019-05-24 14:08] jypeter opened #197 "Can "averager" average over the time axis (and other averager questions)"
I have used `cdutil.averager` the last 2 days, and checked some of its documentation, because this is one of the (many) important (and specific) functions of CDAT, and I have several questions/remarks below

- `averager` used to be in cdutil, and the [documentation](https://cdat.llnl.gov/documentation/utilities/utilities.html) still places it in the cdutil documentation. But I have checked a bit a

[2019-05-24 14:12] doutriaux1 commented on #197
@jypeter you're right it was moved to genutil a VERY long time ago but left as an import in cdutil for backward compatibilty. The documentation indedd should be in genutil, with a reference to it from cdutil. @reshel3 could you do this? @reshel3 please let me know if you need help with @jypeter other comments. @jypeter I would trust the doc string more, but even these might be out of date 😉

[2019-06-19 08:51] jypeter opened #199 "Rename the CDMS2 tuto (and others?)"
I have just opened the [Jupyter-notebooks Tutorials](https://cdat.llnl.gov/tutorials.html) page in order to locate the cdms2 tutorial for one of our interns, and it occurs to me that the title, **CMDS2 101**, may not be a good choice

- I know _101_ because I have spent 1 year as an exchange student in the US, but **you can't assume that foreigners will associate 101 with _introductory class_**
-

[2019-07-12 16:00] starrystarrynightt opened #203 "Isoline plot in cdat81"
Dear all,

I just re-installed the new cdat81. And I use the same script to draw a contour plot.

The results seem odd and there are large dark space appear.

Also, using the new cdat81 introduces difference when using isofill.

See the attached plots for isoline and isofill. Codes for line plots are shown below.

**(1) isoline plot**
![isoline](https://user-images.githubusercontent.com/37463257/6

[2019-07-12 16:46] danlipsa commented on #203
@starrystarrynightt Can you share the data you used to see this? Thanks!

[2019-07-12 16:54] starrystarrynightt commented on #203
Hi @danlipsa thanks for your responses.

The whole plotting script I used is attached here. "tmp1" is some 2D data:

[code]

[2019-07-15 20:36] danlipsa commented on #203
@starrystarrynightt I cannot reproduce this with my data. Can you please attach the data you are using as well. Thanks.

[2019-07-15 20:38] danlipsa commented on #203
And complete the script so that I have a working script that I can run on my machine. Thanks!

[2019-07-17 18:20] danlipsa commented on #203
@doutriaux1 FYI

[2019-07-22 01:04] starrystarrynightt commented on #203
Dear @danlipsa

Sorry for responding late. Please find the data for map plot and line plot here: (https://github.com/starrystarrynightt/uploaded-data-and-scripts-for-uvcdat)

The issues still occur:
(1) for map plot, using ".pdf" or ".postscript" produce different images;
(2) for the line plot, there is a dark area produced.

I also uploaded figures I produced on my mac using this data and script.

[2019-07-22 13:51] danlipsa commented on #203
@starrystarrynightt Indeed, I can reproduce 1). I am not sure what 2 is. Can you upload a PNG where you point out what is the problem. Thanks

[2019-07-23 16:23] starrystarrynightt commented on #203
Hi @danlipsa , I have uploaded the figures in the same repository (https://github.com/starrystarrynightt/uploaded-data-and-scripts-for-uvcdat):

(1) line_data_pdf.pdf: line plot using vcs, isoline;
(2) line_matplotlibt: plot the same data using matplotlib.

Thanks.

[2019-08-05 03:21] starrystarrynightt commented on #203
Dear @danlipsa

I am wondering if there are any updates about this issue?

Thanks very much!

Best,
Lei

[2019-10-09 08:42] jypeter opened #206 "Ask someone to update the reference to CDAT/cdms2/... on xarray web site"
@doutriaux1  I don't know the best place for report this, so picked up the web sites issues

I'm having a quick look at the **xarray web site**, and they mention UV-CDAT and cdms2 in their [What other netCDF related Python libraries should I know about?](http://xarray.pydata.org/en/stable/faq.html#what-other-netcdf-related-python-libraries-should-i-know-about) section

You may want to have them re

[2019-10-09 12:33] doutriaux1 commented on #206
@jypeter thanks for reporting this. As an aside note I'm no longer working on CDAT/VCDAT. @downiec took over the bulk of the project.

[2019-10-09 12:46] doutriaux1 commented on #206
@davis278 the beginner guide (https://drclimate.wordpress.com/2014/01/02/a-beginners-guide-to-scripting-with-uv-cdat/) might be worth porting to our newer format too.

[2019-10-10 14:38] jypeter commented on #206
@doutriaux1 Olivier B told me that yesterday during Sébastien "Goodbye ceremony"! No Charles working on CDAT, no Sébastien on ESGF, I feel like I have stumbled into a possibly hostile alternative universe (with no Charles, Dean and Bob)!

@downiec Would it be possible to maintain a list of _who is working on what_ in CDAT (and also give credit to past contributors!), maybe in the [Contact](https:/

[2019-10-10 20:22] downiec commented on #206
@jypeter I understand the feeling! I'm working to catch up with everything that was put on my lap and will try to look into this issue soon as I can. Thanks for bringing it to my attention!

[2019-10-10 21:02] davis278 commented on #206
@doutriaux1, sadly my percentage of time on the CDAT project has noticeably shrunk due to other responsibilities, so I'm not sure I'll be the right person to port the guide over to the newer format, though it would be a good idea!

[2019-11-18 14:56] jypeter commented on #186
I went to the web site to check if I was using the latest version of CDAT (I'm using 8.1), and the web site is still listing **8.0** as the latest version, in the [Changelog page](https://cdat.llnl.gov/changelog.html)

You have to scroll down the [Installation page](https://github.com/CDAT/cdat/wiki/install) if you want to see a mention of 8.1

[2019-11-18 22:26] davis278 commented on #186
Hi @jypeter, 8.2 will be coming out really soon, so the idea was to wait until 8.2 was ready and update the page for 8.1 and 8.2 at the same time. I apologize that I haven't had time to get to this task. I'm now working on a different project, so I've included Carlos Downie and between the two of us, once 8.2 is ready, the pages will get updated.

[2019-11-19 09:32] jypeter commented on #186
All right!

Well, it's probably good if the users can easily find on the main web site which is the latest version of CDAT (and/or of CDAT main components, for people who only want some parts of CDAT)

This information should probably also be on the home page

[2019-12-12 15:27] jypeter commented on #197
Concerning `averager`, see also https://github.com/CDAT/genutil/issues/32 and https://github.com/CDAT/genutil/issues/33

[2022-02-02 20:58] mauzey1 opened #215 "DOE VDP info in footer"
The US Department of Energy wants public-facing DOE webpages to have following text and link as part of their footer.

More on VDP: